@import '/src/static/scss/variables';

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background: $primaryColor;
    box-shadow: 11px 11px 22px $primaryShadowFirst,
        -11px -11px 22px $primaryShadowSecond;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 0;
    animation: change 0.5s;
    .statsCell {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        border: 2px solid $secondaryColor;
        img {
            margin: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    span {
        text-align: center;
        color: $secondaryColor;
        font-size: 18px;
        word-break: break-all;
    }
    .statsText {
        width: 50%;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
        }
    }
    .lifes {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondaryColor;
        font-size: 20px;
        border-left: 1px solid $secondaryColor;
    }
}

@keyframes change {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.crown {
    position: absolute;
    top: -10px;
    right: -10px;
    transform: rotate(45deg);
    font-size: 25px;
    color: gold;
}
