@import '/src/static/scss/variables';

.cell {
    user-select: none;
    width: 70px;
    height: 70px;
    border: 1px solid $accentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    background: $primaryColor;
    box-shadow: 6px 6px 7px $primaryShadowFirst,
        -6px -6px 7px $primaryShadowSecond;
    transition: all 0.3s, background-color 1.5s;
    opacity: 1;
    cursor: pointer;
    img {
        width: 35px;
        border-radius: 15px;
        user-select: none;
    }
    animation: enter 1s;
}

.cell:hover {
    transform: rotate(45deg) scale(0.65);
    background: rgba(255, 255, 255, 0.144);
}

@keyframes enter {
    0% {
        transform: rotate(45deg) scale(0);
        background: rgba(255, 255, 255, 0.144);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
