.board {
    padding: 30px;
    box-sizing: content-box;
    width: calc(80px * 10);
    height: calc(80px * 10);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: inset 11px 11px 22px #161636, inset -11px -11px 22px #1e1e4a;
    border-radius: 20px;
    animation: enter 2s;
}

@keyframes enter {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: inset 11px 11px 22px #161636, inset -11px -11px 22px #1e1e4a;
    }
}
