$primaryColor: #1a1a40;

$primaryShadowFirst: #171739;

$primaryShadowSecond: #1d1d47;

$hoverColor: #ff5ec3;

$hoverShadowFirst: #d24a99;

$hoverShadowSecond: #ff66d3;

$secondaryColor: #a8aae7;

$accentColor: #270082;

$dullColor: #7576dd;
