.game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .gameInfo {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #a8aae7;
        font-size: 20px;
    }
    .playersInfo {
        width: 20%;
        height: 100%;
    }
}

span {
    transition: transform is ease;
}

.button {
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 20px;

    cursor: pointer;

    color: #a8aae7;

    background: #1a1a40;
    box-shadow: 11px 11px 22px #171739, -11px -11px 22px #1d1d47;
    transition: all 0.3s;
}

.button:hover {
    background: #ff5ec3;
    box-shadow: 0px 0px 10px #d24a99, 0px 0px 15px #ff66d3;
    color: #1a1a40;
}

.preGameMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        text-align: center;
        color: #a8aae7;
        font-size: 25px;
    }
}
