.loginButton {
    border: none;
    outline: none;
    padding: 20px;
    margin: 12px 0;
    font-size: 18px;
    border-radius: 20px;

    cursor: pointer;

    color: #a8aae7;
    font-size: 20px;
    background: #1a1a40;
    box-shadow: 11px 11px 22px #171739, -11px -11px 22px #1d1d47;
    transition: all 0.3s;
}

.loginButton:hover {
    background: #ff5ec3;
    box-shadow: 0px 0px 10px #d24a99, 0px 0px 15px #ff66d3;
    color: #1a1a40;
}
