@import '/src/static/scss/variables';

.lobby {
    padding: 0 20px 20px;
    width: 400px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 11px 11px 22px $primaryShadowFirst,
        -11px -11px 22px $primaryShadowSecond;
}

.header {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $secondaryColor;
    span {
        color: $secondaryColor;
        font-size: 28px;
    }
}
